:root{
    --primary-color:#059473;
    --black:#000;
    --white:#fff;
    --lightText:#059473;
    --max-width:1200px;
    --light-gray:#f1f1f1;
    --swiper-navigation-size:25px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 10px;
}
.container{
    width: var(--max-width);
    margin: auto;
}
.topHeader{
    background: var(--primary-color);
    padding: 5px;
    font-size: 15px;
}

.topHeader .container{
    color: var(--white);
    display: flex;
}