:root{
    --primary-color:#059473;
    --black:#000;
    --white:#fff;
    --lightText:#059473;
    --max-width:1200px;
    --light-gray:#f1f1f1;
    --swiper-navigation-size:25px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 10px;
}
.container{
    width: var(--max-width);
    margin: auto;
}
.topHeader{
    background: var(--primary-color);
    padding: 5px;
    font-size: 15px;
 
}

.topHeader .container{
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.topHeaderLeft,
.topHeaderRight{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.topHeaderLeft{
    color: #fff;
}
.topHeaderLeft .dropdown-btn{
    color: #fff;
}
.topHeaderLeft .bx,
.topHeaderRight .bx{
   font-size: 20px;
    vertical-align: middle;
}
.cartLabel{
    color: #f1f1f1;
}
.bx-chevron-down{
    color: #f1f1f1;
}
.dropdown{
    position: relative;
}
.dropdown-btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    /* color: #fff; */
}
.dropdown-btn i{
    font-size: small;
}
.dropdown-content{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: var(--white);
    max-width: 180px;
    box-shadow: 0 4px 8px(0,0,0,0.4);
    border-radius: 8px;
    overflow: hidden;
    z-index:100;
}
.dropdown-content a{
    display: block;
    color: var(--black);
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown-content a:hover{
    background: var(--primary-color);
     background:#059473 ;
     color:var(--white);
}
.dropdown.active .dropdown-content{
    display: block;

}
#mainHeader.fixed{
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0,0.4);
    width: 100%;
    z-index: 9999;
    padding: 10px 100px;
    max-width: 100%;
}
#mainHeader{
    transition: all 0.5s ease;
    
}
header{
    background: var(--white);
    box-shadow: 19px 8px 22px 15px 625a5a21;

}

header .container{
    display: flex;
    justify-content: space-between;

}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: rgb(186, 140, 53, 0.5);
}
.menu li{
  list-style: none;
  padding: 20px;
  float: left;

}

.menu li a{
    text-decoration: none;
    font-size: 16px;
    color: var(--black);
}
.menu li:hover{
    color: var(--primary-color);
    /* cursor: crosshair; */
    cursor: copy;
   
}
.leftMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-wrapper{
    position: relative;
}
.searchBtn{
    width: 40px;
    height: 10px;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 27px;
}
.searchBox{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 0;
    /* overflow: hidden;      */
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border-radius: 50px;
    transition: 0.5s ease;
}
.searchBox input{
    border: none;
    font-size: 16px;
    width: 100px;
}
.searchBox i{
    font-size: 2px;
    cursor: pointer;
}
.searchBox.active{
    width: 220px;
}
.searchBtn.hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.7);

}
.dropdown .bx{
    font-size: 25px;

}
.dropdown .bx:hover{
 color: var(--primary-color);
}
.hamburger{
    display: none;
}
.swiper{
    width: 100%;
    height: 80vh;
    background: #f8f8f8;
}

.slide{
    display: flex;

     align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.slide-content{
    max-width: 500px;

}
.slide-content h4{
  font-size: 32px;
  font-weight: 400;
  color: var(--primary-color);
    margin-bottom: 10px;
}

.slide-content h1{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #272424;

}

.slide-content p{
 font-size: 22px;
 color: #555;
 margin-bottom: 25px;
}

.btns{
    display: flex;
    gap: 10px;
   
}

.btns a{
    padding: 12px 15px;
    font-size: 15px;
    text-decoration: none;
   transition: 0.4s ease-in-out;
   border: 2px solid var(--primary-color);
}
.btn-primary{
    background: var(--primary-color);
    color: white;
}
.btn-primary:hover{
    background: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn-outline{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.btn-outline:hover{
    background: var(--primary-color);
    color: var(--white);
}
.slide img{
    width: 480px;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: transparent;
    border: 2px solid var(--primary-color);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: var(--primary-color);
}
    /* feature */
.featureSection{
    padding: 50px 0px;
}
.features{
    display: flex;
       justify-content: space-between;
       align-items: center;
       flex-wrap: wrap;
       margin-bottom: 40px;
}
.feature-box{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0px;
    min-width: 200px;
}
.feature-box i{
    font-size: 40px;
    color: var(--primary-color);
}
.feature-box h4{
    font-size: 14px;
}

.feature-text p{
    font-size: 14px;
    color: #666;
}
img{
    width: 28%;
    height: 30%;
}

/* Category-grid */
.category-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
     /* grid-template-columns:auto auto; */
     grid-gap: 20px;
}
.big-banner{
    grid-row: span 2;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.big-banner img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 0.5s ease;
}
.text-block{
    position: absolute;
    top: 10%;
    right: 5%;
    color: #111;
    text-align: right;
}
.text-block h5{
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 500;
}
.text-block h1{
    font-size: 15px;
    margin: 10px 0px;
}
.text-block p{
    font-size: 18px;
    margin: bottom 15px;;
}
.shop{
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    background: var(--primary-color);
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500;

}
.card{
    position: relative;
    border-radius:20px;
    overflow: hidden;
}

.bottomCard{
    grid-column: span 2;
 

}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}
.card:hover img,
.big-banner:hover img{
    transform: scale(1.12);
}
.tag{
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--primary-color);
    color: var(--white);
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 3px;

}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 15px;
}
.card-text h3{
    font-size: 26px;
    margin-bottom: 3px;
}
.card-text span{
    font-size: 15px;
    opacity: 0.9;
}
.card-text a{
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
}
/* .features filter products */
.featureProductFilter{
    /* this  workslike container that envelope a content while the justify content works or affectwhat is inside the container*/
    text-align: center;
    padding: 50px;   
}
.product-image span{
 
}
.section-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.filter-menu{
  text-align: center;
  margin-bottom: 40px;
}
.filter-menu button{
    padding: 10px 22px;
    margin: 0 5px;
    background: #eee;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: progress;
    transition: 0.3s;
    font-weight: 500;
}

/* There diff btw .filter .active and .filter, .active */
.filter-menu .active{
  background-color: var(--primary-color);
    color: var(--white);
}
.product-grid{
   display: grid;
   grid-template-columns:repeat(4, 1fr); 
   gap:25px;
}
.product-card{
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 15px;
    position: relative;
    transition: 0.3s ease;
    opacity: 1;
    text-align: left;
    /* //overall width */
     width: 85%;
   
}
.product-card.hide{
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}
.product-image{
    width: 100%;
    height: 230px;
    position: relative;
    overflow: hidden;
}
.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.product-image:hover img{
    transform: scale(1.12);
}
.product-card.hide{
    display: none!important;
}
.tag{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #34a853;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 5px;

}
.yellow{
    background: #f4b400;
}

.hover-buttons{
    width: 100%;
    position: absolute;
    bottom: -110px;
    left: 62%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 8px;
    transition: 0.5s;
}
.product-card:hover .hover-buttons{
    bottom: 20px;
}
.hover-buttons button{
    padding: 8px 18px;
    background: var(--primary-color);
    border: none;
    border-radius: 25px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}
.hover-buttons button:hover{
    color: #34a853;
    background: var(--white);
}
.category{
    font-size: 14px;
    color: #777;
    margin: 10px 15px 3px;
}
.title{
    font-size: 20px;
    font-weight: 600;
    min-height: 45px;
    margin: 0 15px 10px;

}
.rating{
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 5px;
}
.rating i{
    color: #ffb400;
}
.review{
    font-size: 13px;
    color: #555;
}
.price{
    margin-left: 15px;
    margin-top: 6px;
    font-size: 17px;
    font-weight: 600;
}
.old-price{
    text-decoration: line-through;
    margin-left: 10px;
    color: #777;
    font-size: 14px;
}
/* Top banner static */
.banner-wrapper{
    display: flex;
    gap: 24px;
}
.banner{
    flex: 1;
    border-radius: 12px;
    padding: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.manBanner,
.womenBanner{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.manBanner::before,
.womenBanner::before{
    position: absolute;
    content:"";
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.45s ease;
    transform: scale(1.12);
    
}
.banner-content{
    position: relative;
}

.banner-content p{
    margin: 0;
}
 .banner-content h2{
   margin: 6px 0;
   font-size: 40px;
   font-weight: 700;
}
.offer{
    margin: 6px 0 18px;
    font-size: 18px;
}
.banner-img{
    width: 42%;
    object-fit: contain;
}
.banner:hover img{
    transform: scale(1.12);
}
.featureCategoriesSection{
    padding: 50px;
}

.featureCategoriesSection .swiper{
    width: 100%;
    background: transparent;
    max-width: 1200px;
    height: 350px;
    padding: 25px 0;
}
.category-card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px rgba(180, 129, 129, 0.8);
    text-align: center;
    transition: 0.3s;
}
.category-card:hover{
    transform: translateY(-5px);
}
.category-card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    background: #f6f6f6;
}
.cat-info{
    padding: 12px;
}
.cat-info h4{
   margin: 0;
   font-size: 18px;
   font-weight: 600;
}
.cat-info p{
    margin: 5px 0 0;
    font-size: 14px;
    opacity: 0.6;
}
.swiper-button-next,
.swiper-button-prev{
    color: #000;
    font-weight: bold;
}
/* .brandSwiper img{
    width: 100px;
    height: 100px;
} */
.brandSection .brandSwiper{
    padding: 20px 0 40px;
    background: transparent;
    height: 200px;
}
.brandSwiper img{
    width: 100px;
    opacity: 0.7;
    transition: 0.3s;
}
.brandSwiper img:hover{
    /* opacity: 1; */
}

/* latest news */
.news-sections{
    max-width: var(--max-width);
    margin: auto;
    margin-bottom: 50px;

}

.news-container{
    /* display: flex;
  flex-wrap: wrap; */
  /* display: flex; */
  /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 20px;
    margin-top: 25px;
  
}
.news-section{
    display: flex;
    
}
.news-card{
    flex:1;
    min-width:300px;
    background: #ffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0,0.4);
    transition: 0.5s;
}

.news-card:hover{
    transform: translateY(-5px);
}

.news-container img{
    width: auto;
    height: 230px;
    object-fit: cover;
}

.news-content{
    padding: 18px;
}

.news-meta{
    font-size: 12px;
    color: #7777;
    margin-bottom: 10px;
}
.news-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.news-desc{
    font-size: 14px;
    color: #666;
    line-height:1.5 ;
    margin-bottom:12px ;
}
.read-more{
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.read-more:hover{
    text-decoration: underline;
}

/* newsletter */
.newsletter{
    background: url('./WhatsApp\ Image\ 2025-09-09\ at\ 8.52.34\ PM.jpeg'), var(--primary-color);
    padding: 40px 0px;
    color: #634444;
}
.newsletter .container{
    display: flex;
    justify-content: space-between;
}

.newsletter h3{
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}
.newsletter p{
    margin: 5px 0 0;
    opacity: 0.9;
}
.newsletter-input{
    display: flex;
    background: #ffff;
    border-radius: 100px;
    /* border: solid thin brown; */
    padding: 5px;
    width: 330px;
}
.newsletter-input input{
    flex: 1;
    border: thick;
    padding: 12px 15px;
    border-radius: 90px;
    cursor: pointer;
    font-weight: 600;
}
.newsletter-input button{
    background: #0000;
    /* color: #ffff; */
    /* border: none; */
    border: solid thin brown;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

.newsletter-input button:hover{
    transform: translateX(-5px);
    background-color: rgb(212, 92, 92);
    color: #eee;
}
/* footer */
#backToTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index:999;
    /* background: var(--primary-color); */
    color: var(--white);
    padding: 10px 11px;
    font-size: 30px;
    border: none;
    border-radius: 50px; 
    cursor: grab;
    /* display: none; */
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;

}
#backToTop:hover{
    background-color: rgb(180, 139, 139);
}

#backToTop .bx{
    font-size: 24px;
}

.footer{
    padding: 60px 20px;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
    /* background: url(/eomm\ screenshot.png); */
      display: flex; 
    flex-wrap: wrap;
}
.footer-column{
    flex: 1;
}
.footer-column h3{
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 700;
}
.footer-column ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-column ul li{
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}
.footer-column ul li:hover{
    color: #000;
}
.contact-info{
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.contact-info bx{
   font-size: 20px;
}
.contact-info div{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-bottom{
   border-top: 1px solid #e4e4e4;
   padding: 20px;
   display: flex; 
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
   gap: 20px;
   max-width: var(--max-width);
   margin: auto;
   font-size: 14px;
   color: #666;
}

.footer-bottom img{
    height: 30px;
    margin-right: 10px;

}

@media(max-width:768px){
    /* Video minutes 1hr 30min */
    .container{
         max-width: 100%;
        }
    .topHeader{
        display: none;
    }
}